【演習】

モジュールのインポート

In [8]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from exercise_model import Human

エンジンとセッションの作成

In [9]:
engine = create_engine('sqlite:///exercise_db', echo=True)
session = Session(engine)

全件の取得と表示

In [10]:
humans = session.query(Human).all()
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

2022-06-23 06:19:08,648 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-23 06:19:08,651 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2022-06-23 06:19:08,652 INFO sqlalchemy.engine.Engine [generated in 0.00114s] ()
id:1 name:pom_1 height:160.0 weight:60.0
id:2 name:pom_2 height:170.5 weight:60.5
id:3 name:pom_3 height:182.3 weight:56.8

新しいレコードの追加

In [12]:
new_human= Human(id=4, name='new_human', height=200, weight=100)
session.add(new_human)
session.commit()

2022-06-23 06:21:30,976 INFO sqlalchemy.engine.Engine INSERT INTO human (id, name, height, weight) VALUES (?, ?, ?, ?)
2022-06-23 06:21:30,978 INFO sqlalchemy.engine.Engine [generated in 0.00254s] (4, 'new_human', 200.0, 100.0)
2022-06-23 06:21:30,982 INFO sqlalchemy.engine.Engine COMMIT

heightの条件でレコードを抽出して更新

In [16]:
target_human = session.query(Human).filter(Human.height<=160).first()

2022-06-23 06:25:46,905 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
WHERE human.height <= ?
 LIMIT ? OFFSET ?
2022-06-23 06:25:46,906 INFO sqlalchemy.engine.Engine [generated in 0.00156s] (160, 1, 0)

In [17]:
target_human.name = 'target_human'

In [18]:
session.commit()

2022-06-23 06:26:18,830 INFO sqlalchemy.engine.Engine UPDATE human SET name=? WHERE human.id = ?
2022-06-23 06:26:18,832 INFO sqlalchemy.engine.Engine [generated in 0.00201s] ('target_human', 1)
2022-06-23 06:26:18,834 INFO sqlalchemy.engine.Engine COMMIT

weightの条件でレコードを抽出して削除

In [19]:
session.query(Human).filter(Human.weight<60).delete()

2022-06-23 06:28:39,143 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-23 06:28:39,145 INFO sqlalchemy.engine.Engine DELETE FROM human WHERE human.weight < ?
2022-06-23 06:28:39,147 INFO sqlalchemy.engine.Engine [generated in 0.00147s] (60,)

1

In [20]:
session.commit()

2022-06-23 06:28:53,791 INFO sqlalchemy.engine.Engine COMMIT

In [21]:
humans = session.query(Human).all()
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

2022-06-23 06:29:17,245 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-23 06:29:17,248 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2022-06-23 06:29:17,249 INFO sqlalchemy.engine.Engine [cached since 608.6s ago] ()
id:1 name:target_human height:160.0 weight:60.0
id:2 name:pom_2 height:170.5 weight:60.5
id:4 name:new_human height:200.0 weight:100.0

In [22]:
session.close()

2022-06-23 06:29:41,183 INFO sqlalchemy.engine.Engine ROLLBACK